/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 *= require bootstrap.css
 */

/* page layout styles */
.container.flex {
  width: 100%;
  display: flex;
}

.content {
  width: 60%;
}

.side-pane {
  width: 40%;
  border: 1px solid black;
}

.side-pane #messages {
  margin: 0 5px;
}

.side-pane h2 {
  margin: 5px;
}

h1 {
  padding-top: 0;
}

/* navbar stuff */
.login-form {
  padding-top: 5px;
}

.login-form p {
  color: #000;
}

.login-form form {
  padding-top: 0;
  padding-left: 20px;
}

.register {
  color: #333;
}

.register p {
  margin: 0;
  color: #000;
}

.register a {
  color: #333;
}

.header {
  background-color: #f05f40;
}

.navigation .selected {
  color: #333;
  background: none;
  border-radius: 3px;
}

.navigation a {
  color: #fff;
}

.navigation a:hover, .navigation a:focus, .navigation a:active, .navigation a.here:link{
  color: #333;
}

.navigation a.here:visited {
  color: inherit;
}

.flash_notice {
  color: #fff;
}

.flash_error {
    color: #000;
}

/* pagination */
.digg_pagination em.current {
  background: #f05f40;
  border: 1px solid #333;
}

.digg_pagination a {
  color: #f05f40;
  border: 1px solid #333;
}

.digg_pagination span.disabled {
  border: 1px solid #333;
}